# efs types
type nv_log_efs_file, file_type;
type sensor_efs_file, file_type;

# general types
type mobicore_data_file, file_type, data_file_type, core_data_file_type;
type gps_data_file, file_type, data_file_type, core_data_file_type;
type sysfs_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_bt_writable, sysfs_type, rw_fs_type, fs_type;

# sysfs types
type sysfs_mdnie_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_sec, fs_type, sysfs_type, fs_type, mlstrustedobject;
type sysfs_camera_writable, fs_type, sysfs_type, mlstrustedobject;

allow sysfs_type tmpfs:filesystem associate;

# Root
type keydata_data_file, file_type;
type keyrefuge_data_file, file_type;
type omr_file, file_type;
type dqmdbg_file, file_type;
